/* SLIDER */


.slider-container{
  width: 90%;
  height: 450px;
  position: relative;
  overflow: hidden; 
  text-align: center;
  margin-bottom: 300px;
  margin-top: 30px;
  left: 50px;
  animation: fadeInLeft;
  animation-duration: 2s;
  
}

.slider-container img {
  max-width: 100%;
  max-height: 300px;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  
}

.menu label:hover {
  background: #d94500;
  
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("../img/letrero\ 4.jpg");
}
.slide-2 {
  background-image: url("../img/letrero\ 2.jpg");
}
.slide-3 {
  background-image: url("../img/letrero\ 3.jpg");
}


/* WHATSAPP FLOATING */

.floating_whatsapp{
	fill: white;
  width: 60px;
  height: 60px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  position: fixed;
  bottom: 25px;
  right : 25px;
  z-index: 10;
  animation: fadeInDown;
  animation-duration: 1s;

}

/* CONTACT*/

.login-box {
  position: relative;
  left: 50%;
  
  margin-top: 200px;
  margin-bottom: 0px;

  width: 90%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0,0,0,.6);
  border-radius: 5px;
  z-index: 0;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .contact-form {
  position: relative;
}

.login-box .contact-form input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .contact-form label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .contact-form input:focus ~ label,
.login-box .contact-form input:valid ~ label {
  top: -20px;
  left: 0;
  color: #d94500;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #d94500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #d94500;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d94500,
              0 0 25px #d94500,
              0 0 50px #d94500,
              0 0 100px #d94500;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d94500);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d94500);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d94500);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d94500);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}