@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

#hero-video {
    max-width: 100%;
    z-index: -1;
    
}


nav {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}


nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 35px;
    
}

nav a:hover {
    background-color: #d94500;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

nav a:active {
    background-color: #faa500;
}

footer h3 {
    color: white;
    text-decoration: underline;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: blue;
    text-decoration: underline;
}

footer {
    background-color: #3f4b75;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

