@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

#hero-video {
    max-width: 100%;
    z-index: -1;
    
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}


nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 35px;
    
}

nav a:hover {
    background-color: #d94500;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

nav a:active {
    background-color: #faa500;
}




#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 250px;
    
}
             


#hero-msg h1 {
    text-align: center;

} 

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    z-index: -1;
    

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #d94500;
    grid-column: 1/11;
    grid-row: 4/9;
}


.maingrid {
    padding-top: 50px;
 
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    
    gap: 5px;

}


.grid img {
   
    width: 650px;
    height: auto;
    
}

body {
    
    background-color: #ffff;
    font-family: 'Roboto Flex', 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    
    
    background-color: rgba(165, 163, 163, 0.164);

    
}

.book, .join {
    background-color: #d94500;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.book:hover, .join:hover {
    background-color: white;
    color: black;
}

.msg {
    background-color: #3f4b75;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    display: block;
    margin: 0 auto;
}
.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: white;
    text-decoration: underline;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: blue;
    text-decoration: underline;
}

footer {
    background-color: #3f4b75;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}


.home-grid {
    display: grid;
    grid-template-columns: 10fr;
}


.home-title {
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-top: 10px;
   
    text-transform: uppercase;
}

h4 {
    color: blue;
}

.logo {
    width: 80px;
    padding-left: 5%;
    margin-left: 15%;

}


.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 200px;
    max-height: 100px;
}

.card-image:hover {
    opacity: .6;
    transform: scale(1.1)
}



#logo_link {
    padding-top: 5px;

}

.icon {
    width: 50px;
    padding-top: 10px;
    color: #FFFFFF;
}

h2 {
    margin: 0;
}

.rivers-card {


    margin: 230px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.river-info {
    width: 200px;
    height: 100px;
    color: #faa500;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;


}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;

}


.mountains {

    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;

}


#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
                    

